* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background-color: #FFF;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 3.5625rem;
}

header, section {
	width: 85%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	padding: 30px;
	margin-bottom: 20px;
}

.logo {
	display: block;
	max-width: 80px;
	min-width: 60px;
	margin-right: 25%;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 55px;
}

.nav-link {
	display: block;
	text-decoration: none;
	color: #333333;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: .2em;
	text-align: center;
	flex-shrink: 1;
	padding: 0.2em 1em;
	border: 1px solid transparent;
	transition: border 0.1s;
}

.nav-link:hover {
	border-color: #333333;
}

.main-link {
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	text-align: center;
	padding: 0.2em 1em;
}

.hero-wrapper {
	display: grid;
	grid-template-columns: 1fr 10% 3fr;
}

.hero-nav {
	grid-column: 1 / 2;
	align-self: center;
	justify-self: start;
}

.nav-tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.nav-tabs li {
	color: #BDBDBD;
	font-size: 46px;
	font-weight: 300;
}

.nav-tabs li:hover {
	color: #333333;
}

.hero-content {
	grid-column: 3 / 4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: inherit;
}

.hero-content > img {
	display: block;
	width: 50%;
}


.title-first {
	color: #BDBDBD;
	font-weight: 300;
}

.title-second {
	color: #333333;
	font-weight: 700;
}

.footer {
	background-color: #2C2C2C;
	margin-top: 8%;
	padding: 2% 0;
}

.footer-content {
	width: 85%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: 2%;
	color: #FFF;
}

.footer-content h3 {
	font-size: 16px;
	font-weight: 700;
}

.footer-content p {
	font-size: 14px;
	font-weight: 500;
}

.logo-white {
	grid-column: 1 / 2;
	display: block;
	max-width: 100%;
	min-width: 100px;
}

.contacts-info {
	grid-column: 2 / 3;
}

.socials-info {
	grid-column: 3 / 4;
	justify-self: center;
}

.socials-icons {
	display: flex;
	gap: 2rem;
}

.socials-icons i {
	display: block;
	font-size: 1.5em;
}

/* Photo Gallery*/

.photos-wrapper {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.photos-wrapper > img {
	max-width: 100%;
}


@media (max-width: 660px) {
	.footer-content {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.contacts-info {
		grid-column: 1 / 2;
	}

	.socials-info {
		grid-column: 1 / 2;
		justify-self: start;
	}

	.logo-white {
		margin: 0 auto;
	}
}

